<html>
    <head>
        <title>
            <%=locals.title %>
        </title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/fontawesome.css"
        integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous"/>
 
        <!-- Our style sheet should be below other styles to override them -->
        <link rel="stylesheet" type="text/css" href="/css/home.css">
    </head>
    <body>
        <h1 id = "page-heading">
            <i class="fas fa-address-book"></i> My Contacts List
        </h1>
        <ul>
            <% for (let i of contact_list) {%>
                <li>
                   <p>
                      <%= i.name %>
                   </p>
                   <p>
                    <%= i.phone %>
                   </p>
                </li>
            <% } %>
        </ul>

        <form action="/create-contact" method="post">
            <input type="text" name="name" placeholder="Enter name" required>
            <input type="number" name="phone" placeholder="Enter phone" required>

            <button type="submit">Add Contact</button>
        </form>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>